body {
    display:flex;
    justify-content: center;
}

form {
    border: solid;
    color: black;
    width: fit-content;
    padding: 10px;
    height:600px;
    width: 400px; 
    font-size: larger;
}

input {
    appearance: none;
    width:100%;
    box-sizing: border-box;

}

label {
    display: block;
    margin-bottom: 4px; /* optional spacing */
  }
  
span.error {
    display:block;
}

/* invalid fields */
input:invalid {
    border-color: #990000;
    background-color: #ffdddd;
}
  
  input:focus:invalid {
    outline: none;
}


/* error message styles */
.error {
    width: 100%;
    padding: 0;
  
    font-size: 90%;
    color: rgb(255, 255, 255);
    background-color: #990000;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
}

.error.active {
    padding:0.5em;
}


